
*.v2
Lab4-Log_Chat/code/Starter/PictureBot/.vs/PictureBot/v16/.suo
Lab4-Log_Chat/code/Starter/PictureBot/.vs/PictureBot/v16/.suo
Lab2-Implement_Computer_Vision/code/Finished/.vs/ImageProcessing/v16/.suo
